{% extends 'base.html' %}

{% block title %}
All blogs
{% endblock %}

{% block body %}
    <form action="{% url 'blog' user.blog.id %}" method="get">
        <input type="submit" value="My blog">
    </form>
    {% for blog in blogs %}
        <form action="{% url 'blog' blog.id %}" method="get">
            Blog: {{blog.user.username}}'s {{blog.name}}
            <input type="submit" value="Checkout">
        </form>
        {% empty %}
            <h2>There are no blogs yet</h2>
            <p>Create your first blog</p>
            <form action="blog" method="get">
                <input type="sumbit" value="Create blog">
            </form>
    {% endfor %}
{% endblock %}
