<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog of {{user.username}}</title>
</head>
<body>
    <form action="all" method="get">
        <input type="submit" value="All blogs"/>
    </form>
    {% if form %}
        <h2>Create your blog</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Create Blog"/>
        </form>
    {% else %}
        <h2>{{blog.name}}</h2>
        {% if user == blog.user %}
            <form action="/post/new" method="get">
                {{form}}
            <input type="submit" value="Add Post"/>
        </form>
        {% endif %}
        {% for post in posts %}
            <h3>{{post.headline}}</h3>
            <p>{{post.text}}</p>
        {% empty %}
            <h3>No Posts in this blog yet.</h3>
        {% endfor %}
    {% endif %}
</body>
</html>
