{% extends 'base.html' %}

{% block title %}
Blog of {{user.username}}
{% endblock %}

{% block body %}
    <form action="/blog/all" method="get">
        <input type="submit" value="All blogs"/>
    </form>
    {% if form %}
        <h2>Create your blog</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Create Blog"/>
        </form>
    {% else %}
        <h2>{{user.username}}'s {{blog.name}}</h2>
        {% if user == blog.user %}
            <form action= "{% url 'post' blog_id=blog.id %}"  method="get">
                {{form}}
            <input type="submit" value="Add Post"/>
        </form>
        {% endif %}
        {% for post in posts %}
            {% include 'blog_templates/post_display.html' %}
            <form action="{% url 'post' blog_id=blog.id post_id=post.id %}", method="get">
                <input type="submit" value="Comments">
            </form>
        {% empty %}
            <h3>No Posts in this blog yet.</h3>
        {% endfor %}
    {% endif %}
{% endblock %}
